.off{
    background-color: rgb(227, 227, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    column-gap: 50px;
}

.off-title{
    font-weight: 700;
}

.off-btn{
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-indent: 20px;
    font-weight: 600;
    color: whitesmoke;
    height: 50px;
    width: 230px;
    letter-spacing: 2px;
    background-color: black;
    box-shadow: 5px 5px;
}

.off-btn a{
    color: white;
}

.off-btn a:hover{
    font-weight: 600;
    color: rgb(159, 159, 159);
    letter-spacing: 2px;
    background-color: black;
    transition: 0.2s ease-in-out;
}