@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root{
    --red: #d01c28;
    --grey: #2e2e2e;
}

*{
    margin: 0;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    list-style: none;
}

body{
    font-family: Sora;
}